<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<div layout:fragment="content">
    <h2>Add a new Space</h2>
    <form th:action="@{/spaces}" th:object="${space}" method="post">
        <label th:for="name">Name:</label>
        <input type="text" th:field="*{name}"/> <br>
        <label th:for="description">Description:</label>
        <input type="text" th:field="*{description}"/> <br>
        <label th:for="price">Rules:</label>
        <input type="text" th:field="*{rules}"/> <br>
        <label th:for="price">Price:</label>
        <input type="number" th:field="*{price}"/> <br>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset" />
    </form>
</div>
</html>