<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new Space</title>
</head>
<body>
    <h1>Add a new Space</h1>
    <form action="/spaces" th:object="${space}" method="post">
        <label th:for="name">Name:</label>
        <input type="text" th:field="*{name}"/>
        <br>
        <label th:for="description">Description:</label>
        <input type="text" th:field="*{description}"/>
        <br>
        <label th:for="price">Rules:</label>
        <input type="text" th:field="*{rules}"/>
        <br>
        <label th:for="price">Price:</label>
        <input type="number" th:field="*{price}"/>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>