<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
    <div layout:fragment="content">
        <h2 th:text="${space.name}"></h2>
        <dl>
            <dt>Description</dt>
            <dd>[[${space.description}]]</dd>
            <dt>Rules</dt>
            <dd>[[${space.rules}]]</dd>
            <dt>Price</dt>
            <dd>[[${space.price}]]</dd>
            <dt>Owned by</dt>
            <dd>[[${space.user.name}]]</dd>
        </dl>
    </div>
</html>