<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MakersBnB</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <h1>Welcome to MakersBnB!</h1>
    <h2 th:text="${nBookings} + ' bookings were made last week'"></h2>
    <h3 th:text="${nSpaces} + ' spaces are waiting to be discovered'"></h3>
    <h4>Recent reviews</h4>
    <ul>
        <!-- using th:each we tell Thymeleaf to render a `li` for each review -->
        <li th:each="review : ${reviews}" th:text="${review}"></li>
    </ul>
</body>
</html>